/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #FDF8F5;
  color: #4F4846;
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #FDF8F5;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #266150;
}

header {
  position: fixed;
  border-bottom: 10px solid #DDAF94;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid #4F4846;
  color: #FDF8F5;    
}

figure {
  margin-bottom: 40px;
}

img {
  display: block;
  margin: 20px auto;
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #DDAF94;
  background-color:  #E8CEBF;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 10px;
  border: 5px solid #DDAF94;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 100px;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #4F4846;
}

textarea {
  vertical-align: top;
  height: 60px;
}
  
button {
  height: 40px;
  width: 120px;
  background-color: #4F4846;
  color: #FDF8F5;
}
 
/* Class Selectors */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
