/* Coolors Exported Palette - https://coolors.co/ad343e-778492-49515a-f2fdff-dab785 */

/* CSS HEX */
--cardinal: #ad343eff;
--light-slate-gray: #778492ff;
--charcoal: #49515aff;
--azure-x-11-web-color: #f2fdffff;
--burlywood: #dab785ff;

/* CSS HSL */
--cardinal: hsla(355, 54%, 44%, 1);
--light-slate-gray: hsla(211, 11%, 52%, 1);
--charcoal: hsla(212, 10%, 32%, 1);
--azure-x-11-web-color: hsla(189, 100%, 97%, 1);
--burlywood: hsla(35, 53%, 69%, 1);

/* SCSS HEX */
$cardinal: #ad343eff;
$light-slate-gray: #778492ff;
$charcoal: #49515aff;
$azure-x-11-web-color: #f2fdffff;
$burlywood: #dab785ff;

/* SCSS HSL */
$cardinal: hsla(355, 54%, 44%, 1);
$light-slate-gray: hsla(211, 11%, 52%, 1);
$charcoal: hsla(212, 10%, 32%, 1);
$azure-x-11-web-color: hsla(189, 100%, 97%, 1);
$burlywood: hsla(35, 53%, 69%, 1);

/* SCSS RGB */
$cardinal: rgba(173, 52, 62, 1);
$light-slate-gray: rgba(119, 132, 146, 1);
$charcoal: rgba(73, 81, 90, 1);
$azure-x-11-web-color: rgba(242, 253, 255, 1);
$burlywood: rgba(218, 183, 133, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ad343eff, #778492ff, #49515aff, #f2fdffff, #dab785ff);
$gradient-right: linear-gradient(90deg, #ad343eff, #778492ff, #49515aff, #f2fdffff, #dab785ff);
$gradient-bottom: linear-gradient(180deg, #ad343eff, #778492ff, #49515aff, #f2fdffff, #dab785ff);
$gradient-left: linear-gradient(270deg, #ad343eff, #778492ff, #49515aff, #f2fdffff, #dab785ff);
$gradient-top-right: linear-gradient(45deg, #ad343eff, #778492ff, #49515aff, #f2fdffff, #dab785ff);
$gradient-bottom-right: linear-gradient(135deg, #ad343eff, #778492ff, #49515aff, #f2fdffff, #dab785ff);
$gradient-top-left: linear-gradient(225deg, #ad343eff, #778492ff, #49515aff, #f2fdffff, #dab785ff);
$gradient-bottom-left: linear-gradient(315deg, #ad343eff, #778492ff, #49515aff, #f2fdffff, #dab785ff);
$gradient-radial: radial-gradient(#ad343eff, #778492ff, #49515aff, #f2fdffff, #dab785ff);