* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
  font-size: 1.8vw;
}
i {
  color: #fff8f0ff;
  font-size: 4vw;
}
:root {
  --blue: #064789ff;
  --light-blue: rgb(179, 179, 179);
  --red: #471323ff;
  --orange: #f6511dff;
  --green: #3a5a40ff;
  --card: rgb(255, 122, 162);
}
html{
  /* font-size: 2.4vw; */
}
body {
  background-color: var(--light-blue);
  /* font-size: 16px; */
  color: #434343;
  margin: 0;
  padding: 0;
}
header {
  height: -webkit-fill-available;
  width: auto;
  display: block;
  color: rgb(21, 202, 187);
  background-color: var(--blue);
  margin-bottom: 0;
  padding-bottom: 5vw;
  border-bottom: var(--red) 1.4vh solid;
}
/* Start of Navbar styling */
.topnav {
  background-color: var(--red);
  overflow: hidden;
}
.topnav li.navItem {
  list-style: none;
  display: block;
  float: left;
}
li.icon {
  list-style: none;
}
i.fa-bars {
  list-style: none;
  display: none;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 1rem;
}
.topnav li.navItem a:hover {
  background-color: #ddd;
  color: black;
}
a.icon {
  display: none;
}
/*~~~~~~~~~~~~~~End of Navbar Styling~~~~~~~~~~~~~~*/

/* Image, Name, and Description Default Styling */

img.profile-pic {
  display: block;
  max-width: auto;
  max-height: 35vh;
  width: auto;
  height: auto;
  border-radius: 50%;
  padding: 2%;
  flex: 1 1 0;
  /*     
    object-fit: cover;
    margin: 0 0; 
    */
}
div.info-container {
  min-width: 96vw;
  max-height: 24vw;
  width: -moz-max-content;
  width: max-content;
  padding-right: 0.3vw;
  padding-left: 0.3vw;
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}
#img-wrapper {
  flex: 1 1 auto;
  display: inline;
  max-width: min-content;
  max-height: 35vh;
  margin: auto 0;
}
#profile-content {
  /* width:100vw; */
  width: -moz-max-content;
  width: max-content;
  flex: 1 1 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  /* padding: 1vh 0 0 0 !important; */
  margin: 0 auto;
}
#profile-content .social a {
  background: #2394a8;
  display: inline-block;
  width: 36px;
  height: auto;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
}
#name {
  color: var(--red);
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: auto;
  margin-top: auto;
  padding: 0px;
  display: inline-block;
  flex: 1 1 40%;
}

#desc {
  color: var(--red);
  font-size: 2rem;
  font-weight:200;
  margin: 0px auto;
  padding-left: 2%;
  float: left;
  flex: 1 1 50%;
  overflow: hidden;
  word-wrap: normal;
}

/* End of Image, Name, and Description Default Styling */

/* Styling for Social-Media Links(GitHub, Linkedin, StackOverflow)*/
.social-list {
  color: #fff8f0ff;
  list-style: none;
  float: left;
  padding: 0px;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
  flex-flow: row;
  align-content: flex-end;
}
.social-list li {
  padding: 0 4% 0 4%;
  font-size: xx-large;
  flex: 2 1 10%;
  max-width: auto;
}

/* Styling for the main content of the page */
#about {
  padding: 0 2vw 0 2vw;
  margin: 0 auto;
  color:var(--red);
  max-width:75%;
}
#about h4 {
  font-size: 1.4rem;
  font-weight:400;
  color:var(--red);
  display: block;
  text-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~ Styling For Porfolio section ~~~~~~~~~~~~~~~~~~~~*/
#portfolio {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color:var(--red);
}
#portfolio h4{
  font-size: 1.4rem;
  font-weight:400;
  text-align: center;
  display: block;
  width:-webkit-fill-available;
  margin-bottom: 1rem;
  color:var(--red);
}
div.card {
  background-color: var(--light-blue);
  flex: 1 1 30%;
  box-shadow:
  5px  5px 10px rgb(43, 44, 46, .4),
  15px 15px 25px rgba(166,173,201,0.2);
  margin: 0 5% 3% 5%;
  padding: 1%;
}
div.card:hover{
  box-shadow:
  5px  5px 10px rgb(43, 44, 46, .7),
  15px 15px 25px rgba(166,173,201,0.5);
}
.card img {
  display: block;
  margin: 0 auto;
}
.container {
  padding: 2px 16px;
  position: relative;
  float:none;
}
.container p{
  position:relative;
  bottom:5%;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}
.container h5{
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
  position:relative;
  bottom:20%;
}
/* ~~~~~~~~~~MEDIA QUERIES~~~~~~~~~~*/

/*~~~~Iphone X and smaller*/

@media (min-width: 300px) {
  div.info-container {
    flex-direction: column;
    max-height: min-content;
    min-width: -webkit-fill-available;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px auto;
  }
  #profile-content {
    max-height: min-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0px;
  }
  #name,
  #desc,
  .social-list {
    padding-top: 0.5vw;
    max-width: auto;
    flex: 1 1 33%;
    min-height: auto;
  }
  #name {
    min-width: max-content;
    padding: 0%;
    padding-top: 1vh;
    min-width: max-content;
    /* font-size: 4.6rem; */
    font-family: Ubuntu, -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI",
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
  }
  #desc {
    font-family: Ubuntu, -apple-system,  Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 500;
    /* font-size: 2rem; */
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .social {
    min-width: max-content;
  }
  .social-list {
    flex-grow: 1;
    padding-top: 0;
    height: min-content;
  }
  i {
    font-size: 5vh;
  }
}
/*Conditional Styling for "responsive" nav menu */
@media screen and (max-width: 576px) {
  .topnav li.navItem {
    display: none;
  }
  a#icon,
  i.fa-bars {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li.navItem {
    float: none;
    clear: left;
    display: block;
    text-align: left;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  header {
    min-width: 96vw;
    display: block;
    padding: 1vh;
  }
  div.info-container {
    max-height: min-content;
    padding-top: 1%;
    flex-direction: row;
    align-items: center;
  }
  #img-wrapper,
  .profile-content {
    margin: 0 auto;
    align-self: center;
    padding: 0%;
  }
  #img-wrapper img.profile-pic {
    flex: 3 1 auto;
    display: inline;
    max-width: min-content;
    max-height: inherit;
    margin: 0;
    padding: 0px;
    padding-bottom: 4%;
  }
  #profile-content {
    max-height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    /* min-width: max-content; */
  }
  #name,
  #desc,
  .social-list {
    width: -webkit-fill-available;
    padding-left: 5vw;
    padding-top: 0.3vw;
    /* max-width: auto;
    max-height: auto; */
    flex: 1 1 auto;
    /* min-height: max-content; */
  }
  #name {
    padding-top: 0;
    /* font-size: 10vw; */
    font-family: Ubuntu, -apple-system, Roboto, BlinkMacSystemFont, "Segoe UI",
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
  }
  #desc {
    font-family: Ubuntu, -apple-system, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 300;
    /* font-size: 4vh; */
    max-width: fit-content;
    max-width: -moz-fit-content;
  }
  h1#name,
  #desc {
    margin: 0px;
  }
  .social-list {
    justify-content: center;
    font-size: 2%;
    width: -webkit-fill-available;
  }
  #name,
  #desc {
    word-wrap: inherit;
    text-align: center;
    width: max-content;
  }
  main h4 {
    display: block;
    max-width: 84vw;
    text-align: center;
    margin: 0px auto;
  }
  .list-inline-item {
    text-align: center;
  }
  i {
    font-size: 5vw;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  div.info-container {
    flex-direction: row;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .img-wrapper img.profile-pic {
    flex: 3 1 auto;
    display: inline;
    max-width: auto;
    max-height: 40vw;
    margin: 0;
    margin-left: 30%;
  }
}

/* Xtra Small Devices*/
@media only screen and (max-width: 480px) {
}
