* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 60px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

.card {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  float: left;
  width: 25%;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  .card {
    width: 50%;
  }
  /* Change the header color */
  header {
    background: #772014;
  }
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
  /* Change the header color */
  header {
    background: #8ac4ff;
  }
}
